---
layout: archive
title: "Courses Taught"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
<h3 class="archive__item-title" itemprop="headline">UNSW Canberra</h3>
<ul>
  <li>IT Project 2 (ZEIT3101): 2020, 2021</li>
</ul> 

<h3 class="archive__item-title" itemprop="headline">Brock University</h3>
<ul>
  <li>Introduction to Media Computation (APCO 1P00): 2018, 2019</li>
  <li>Computer Systems (COSC 2P13): 2017</li>
  <li>Advanced Object-Oriented Programming (COSC 3P91): 2016</li>
</ul> 